.header-right .header-profile > a.nav-link .header-info {
    text-align: right;
}

div.form-group > input.custom-input {
    background: #2F363E !important;
    border-color: #2F363E !important;
}

div.filter-column {
    border-left: 1px solid #636363;
}

label.filter-label {
    text-align: center;
    display: block;
}

.default-input {
    background: #2F363E !important;
    border: 3px solid #2F363E !important;
}

.pfp-icon {
    font-size: 7.5rem;
}

/* Dark Checkbox */

.custom-checkbox .custom-control-label::before {
    border-radius: 0.75rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    border-color: #1CA7F5;
    background-color: #1CA7F5;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(67, 220, 128, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label::before {
    background-color: rgba(67, 220, 128, 0.5);
}